.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-bottom: 5%;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  margin-top: 5%;
}

.go-to-profile-button {
  background-color: #0984e3 !important;
}

.logout-button {
  background-color: #e17055 !important;
}

.btn-primary {
  background-color: #6bb556;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (max-width: 650px) {

  .App::after {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
    background-image: url("./table-in-vintage-restaurant-6267.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: medium;
  }

  .App-header {
    height: 50%;
    width: 103%; /* not sure why but 103% works on chrome mobile view (Robert's computer browser)*/
    padding: 20px;
    color: white;
  }

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    margin-bottom: 15%;
  }

  .App-intro {
    font-size: large;
    margin-top: -12%; 
  }

  h2 {
    font-size: x-large;
    padding-right: 2%;
    padding-left: 2%;
  }
}

