/* Robert added the following css below for navbar */

.nav-sign-up {
  background-color: #e17055 !important;
  width: 100%; 
}

.cheqmate-logo {
  width: 150px;
}

/* cheqmark light green hex: #6bb556 */
/* cheqmark dark green hex: #3f7d46 */